@font-face {
    font-family: "calculator-font";
    src: url("./digital-7/digital-7.ttf");
}

body {
    height: 100vh;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    height: 550px;
    width: 375px;
    background-color: rgb(43, 42, 42);
    border-radius: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 3px 5px 3px 1px rgb(31, 30, 30);
}

#screen {
    height: 80px;
    width: 330px;
    background-color: rgb(128, 175, 128);
    border: 2px solid rgb(39, 44, 39);
    border-radius: 8px;
    box-shadow: 2px 5px 3px 1px rgb(65, 93, 65) inset;
    font-family: "calculator-font";
}

#expression {
    height: 32px;
    width: 330px;
}

#answer {
    height: 48px;
    width: 330px;
}

#calc-btns {
    height: 425px;
    width: 330px;
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    justify-content: center;
    gap: 8px;
    height: inherit;
    width: 25%;
}

.btns {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    /* margin: 2px; */
    background-color: rgb(23, 23, 23);
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
                            'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 650;
}